@font-face {
  font-family: 'IconicFill';
  src: url('fonts/iconic_fill.eot');
  src: local('IconicFill'), 
    url('fonts/iconic_fill.svg#iconic') format('svg'), 
    url('fonts/iconic_fill.otf') format('opentype'); 
}

@font-face {
  font-family: 'IconicStroke';
  src: url('fonts/iconic_stroke.eot');
  src: local('IconicStroke'), 
    url('fonts/iconic_stroke.svg#iconic') format('svg'),
    url('fonts/iconic_stroke.otf') format('opentype'); 
}

html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body {
  background: white;
}

/* Navigation */
nav {

}

nav #active {
  position: absolute;
  background: #993333;
  height: .3em;
  width: 50%;

  transition: all .25s ease-in-out;
  -webkit-transition: all .25s ease-in-out;
  -moz-transition: all .25s ease-in-out;
  -o-transition: all .25s ease-in-out;
  -ms-transition: all .25s ease-in-out;
}

nav #active.left {
  left: 0%;
}

nav #active.right {
  left: 50%;
}

nav div#buttons {
  border-bottom: .1em solid #B8B8B8;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 5px;
}

nav div#buttons span {
  display: inline-block;
  margin: 0;
  padding: 0;
  font-size: 2em;
  text-align: center;
  line-height: 2em;
  height: 2em;
  width: 49.6%;
}

nav div#buttons span:nth-child(2) {
  background: #B8B8B8;
  position: absolute;
  height: 1.2em;
  top: .4em;
  width: .06em;
}
/* End navigation */

/* Action buttons */
.clicked {
  background: #998482 !important;
}

.action {
	width: 100%;
}

.action a {
  background: #F0EAEA;
  border-radius: 5px;
  border: 1px solid rgba(18, 7, 6, 0.2);
  display: block;
  font-size: 2.2em;
  position: relative;
	width: 95%;
	height: 60px;
  line-height: 60px;
  text-align: center;
	margin: auto;
  overflow: visible;
}

.action a:before {
  font-family: 'IconicFill';
  position: absolute;
  left: 1em;
}

.action a[name="start"] {
	margin-bottom: .3em;
}

.action a[name="start"]:before {
  content:'\e047';
}

.action a.started[name="start"]:before {
  content:'\e04a'; 
}

.action a[name="end"]:before {
  content:'\2713';
}
/* End action buttons */

/* Timer */
.current-time {
  width: 100%;
  text-align: center;
  font-size: 3em;
  font-weight: bolder;
  margin-top: 0.5em;
}
/* End Timer */
