.work-container {
  justify-content: center;
}

#work-content {
  width: 100%;
}

.current-time {
  text-align: center;
}

#work-content button {
  width: 100%;
  margin: .4em 0;
}

.mdl-checkbox__focus-helper,
.mdl-checkbox__box-outline {
  width: 20px;
  height: 20px;
}

#actionbar button {
  margin-right: 1em;
}

/* Sessionlist page */
.sessions {
  list-style-type: none;
  padding-left: 1em;
}

.sessionlist-item label {
  display: inline;
  padding-right: 2em;
}

.sessionlist-item .record {
  line-height: 3em;
  display: inline-block;
}
/* End Sessionlist page */

/* Session page */
.session-page .date,
.session-page .time {
  width: 100%;
  text-align: center;
}
/* End Session page */
